<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dublin Bikes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            /* Always set the map height explicitly to define the size of
            the div
            * element that contains the map. */
            #map {
            height: 100%;
            }
            /* Optional: Makes the sample page fill the window. */
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            }
            </style>
    </head>
    <body>
        <div id="map"></div>
        <script src="{{ url_for('static',filename='js/map.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFco5v19Ij4WcROHvm8cL93kbvYaiP6m4&callback=initMap"
        async defer></script>
        </body>
</html>